        # Virtual environment
        .venv/
        venv/
        ENV/
        __pycache__/
        *.pyc
        *.pyo
        *.pyd

        # IDE and OS files
        .idea/
        .vscode/
        *.DS_Store
        Thumbs.db

        # Environment variables
        .env

        # Databases (если используете локальные файлы БД, например, для SQLite)
        *.sqlite3
        test.db 

        # Logs
        *.log

        # Docker (если будете использовать позже, например, локальные данные Docker)
        docker-compose.override.yml